.notification-app p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.bi-send {
  -webkit-text-stroke: 0.5px;
}
/* Styles for Todo List App */
.todo-list-app {
  /* border: 1px solid rgb(207, 218, 248); */
  /* background-color: rgba(211, 232, 251, 0.825); */
  background-color: #9ca6c7;
  border-radius: 8px;
  aspect-ratio: 1/1;
  box-shadow: rgba(153, 182, 211, 0.164) 0px 8px 24px;
}

.todo-list-header {
  padding: 10px 12px 4px 14px;
  height: max-content;
  align-items: center;
  overflow: hidden;
  /* display: flex; */
}

.todo-list-appname {
  margin: 0;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  /* color: rgb(141, 141, 141); */
  color: #fefefe;
}

.todo-list-content {
  padding: 10px 20px 0px 20px;
}

.todo-list-scrollable {
  max-height: calc(100% - 150px);
  overflow-y: auto;
}
.todo-list-group {
  padding: 10px 10px 0px 10px;
  margin: 0.7rem;
}

.todo-list-scrollable::-webkit-scrollbar {
  display: none;
}
.btn {
  margin-left: 10px; /* Adjust margin as needed to add spacing between elements */
}
/* Styles for Upcoming Certifications App */
.upcoming-certifications-app {
  background-color: #7a90f0;
  border-radius: 8px;
  color: #2b1750;
  /* height: 330px; */
  width: 100%;
  aspect-ratio: 1/1;
  /* height: 48%; */
  box-shadow: rgba(153, 182, 211, 0.164) 0px 8px 24px;
  overflow-y: hidden;
}

.upcoming-certifications-header {
  padding: 10px 12px 4px 14px;
  height: max-content;
  align-items: center;
  overflow: hidden;
  /* display: flex; */
}
.upcoming-certifications-appname {
  margin: 0;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.4px;
  /* color: rgb(141, 141, 141); */
  color: #fefefe;
}

.upcoming-certifications-row {
  background-color: #f1f1f1;
  padding: 8px;
  margin: 10px 0px;
  border-radius: 8px;
  width: 100%;
}

.upcoming-certifications-container {
  overflow-y: scroll;
  /* max-height: 300px; */
  padding-bottom: 1rem;
  max-height: calc(90% - 30px);
  overflow-y: auto;
}

.upcoming-comapny-name {
  font-weight: 500;
}

.upcoming-board {
  font-weight: 500;
}

.upcoming-date-title,
.upcoming-date {
  font-weight: 400;
  color: gray;
}

.upcoming-certifications-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 90vh;
}
/* 
.upcoming-null-container {
  text-align: center;
}

.null-message {
  margin-top: 0;
  margin-bottom: 0;
} */

/* Styles for Notifications App */
.notification-app {
  /* background-color: rgba(94, 219, 230, 0.825); */

  border-radius: 8px;
  aspect-ratio: 1/1;
  width: 100%;
  /* background: #66d07d; */
  background: #f1566a;

  box-shadow: rgba(153, 182, 211, 0.164) 0px 8px 24px;
}

.notification-header {
  padding: 10px 12px 4px 14px;
  height: max-content;
  align-items: center;
  overflow: hidden;
  /* display: flex; */
}
.notification-appname {
  margin: 0;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.4px;
  /* color: rgb(141, 141, 141); */
  color: #fefefe;
  /* #f1566a */
}

.notification-header .toggleNotification {
  font-weight: 600;
  justify-content: end;
  width: max-content; /* or you can set a specific width */
  align-items: center;
  margin-left: auto;
  height: 100%;
  background-color: #e5f2b6;
  color: #2b1750;
}
.notification-content {
  /* Content styles */
}
.notification-list.notification-list-scrollable {
  margin-top: 4px;
}
.notification-scrollable {
  max-height: calc(100% - 100px);
  overflow-y: auto;
}

.notification-list-scrollable {
  max-height: calc(100% - 110px);
  overflow-y: auto;
}
.notification-all-list-scrollable {
  max-height: calc(100% - 70px);
  overflow-y: auto;
}
.notification-list-row {
  background-color: #fafafa;
  padding: 8px;
  margin: 8px 2px;
  border-radius: 8px;
  /* border: 1px solid white; */
}

.notification-app::-webkit-scrollbar {
  display: none;
}

.notification-name {
  color: #303055;
  text-transform: capitalize;
}

.notification-date {
  color: #9ca6c7;
  text-align: end;
  font-size: 13px;
}

.notification-number {
  float: right;
}

.notification p {
  user-select: none;
}

.notification-mark-read-btn {
  background: #303055;
  color: #e5ded7;
  font-weight: 600;
  margin: 10px 10px 0px 0px;
}

.notification-mark-read-btn:hover {
  background-color: #35354b;
  color: white;
}
@media screen and (max-width: 768px) {
  .Content.collapsed {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 0px;
    transition: none;
  }
  .Content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 0px;
    transition: none;
  }
  .todo-list-app,
  .upcoming-certifications-app,
  .notification-app {
    /* margin: 12px; */
    width: 80vw;
    margin-bottom: 1rem;
  }
  .dash-brand {
    display: none;
  }
  .dash-home-container {
    width: 100vw;
  }
}

.notification-app {
  position: relative;
}

.notification-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.statistics-app {
  /* background-color: #bab5cf; */
  background-color: #131314;

  border-radius: 8px;
  padding: 10px;
  padding-bottom: 2rem;
}

.statistics-numbers {
  background: -webkit-linear-gradient(#eee, #5c5c5c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics-card {
  background-color: #2a2b2d;
  margin: 5px;
}

.display-3 {
  background: -webkit-linear-gradient(#4495dc, #6864d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.upcoming-list.upcoming-list-scrollable {
  width: 90%;
}

.first-surveillance-app {
  background-color: #422e77;
  border-radius: 8px;
  color: #2b1750;
  /* height: 330px; */
  width: 100%;
  aspect-ratio: 1/1;
  /* height: 48%; */
  box-shadow: rgba(153, 182, 211, 0.164) 0px 8px 24px;
  overflow-y: hidden;
}

.second-surveillance-app {
  background-color: #9ebda3;
  border-radius: 8px;
  color: #2b1750;
  /* height: 330px; */
  width: 100%;
  aspect-ratio: 1/1;
  /* height: 48%; */
  box-shadow: rgba(153, 182, 211, 0.164) 0px 8px 24px;
  overflow-y: hidden;
}
